
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reports</h1>

<div class="row g-0">
  <div class="col-sm-6 col-md-8">Author Report</div>
  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
</div>

