@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
<!-- The login form is a weakly typed synchronous form as anything higher asks for a data model to 
        bind to, which is undesirable because the form tries to access two different tables for its login -->

<div class="container">
    <main role="main" class="pb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label><br/>
                            <input type="text" id="email" name="Email"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label><br/>
                            <input type="password" id="password" name="Password"/>
                        </div>
                        <div class="form-group">
                            <br/>
                            <!-- Yes, both buttons are named the same. This is necessary to determine which login
                                    button is pressed here in the controller without needing an additional view/action. 
                                    See HomeController.cs Login action -->
                            <input type="submit" class="btn-primary" name="buttonPress" value="Author Login"/>
                            <input type="submit" class="btn-primary" name="buttonPress" value="Reviewer Login"/>
                        </div>
                        <a href=@Url.Action("RegisterSelect")>Signup</a>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>